html {
  margin: 0;
  height: 100%;
	background: #fff !important;
	font-family: 'Barlow', sans-serif;
	color: #010101 !important;
}

body {
  margin: 0;
	height: 100%;
  background: #fff !important;
  font-family: 'Barlow', sans-serif;
	color: #010101 !important;
}

p {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Barlow', sans-serif;
  font-weight: 200 !important;
  line-height: 1.8 !important;
  color: #010101 !important;
  backface-visibility: hidden !important;
}

p a {
  outline: none !important;
  color: #010101 !important;
}

h5 {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Barlow', sans-serif;
  font-weight: 700 !important;
  line-height: 1.8 !important;
  color: #010101 !important;
}


.header {
  position: relative !important;
  background: none !important;
  z-index: 2000;
}

.header h1 {
    padding: 0 !important;
    margin: 0 !important;
    line-height: 2;
    font-family: 'Barlow', sans-serif;
    font-weight: 400 !important;
    text-transform: uppercase !important;
    letter-spacing: 0.16em !important;
    backface-visibility: hidden !important;
}

.icon {
  padding: 0 !important;
  font-weight: 200 !important;
  z-index: 4000 !important;
}

.navigation {
   position: fixed !important;
   top: 0 !important;
   left: 0 !important;
   background: #28A7DE !important;
   opacity: 0.9 !important;
   width: 100vw !important;
   height: 100vh !important;
   z-index: 2000 !important;
}


.menu {
  justify-content: center !important;
  align-items: center !important;
  width: 100vw !important;
  height: 100vh !important;
  font-family: 'Barlow', sans-serif;
  font-weight: 200 !important;
}

.menu {
  color: white !important;
  text-align: center !important;
}

.menu a {
  font-family: 'Barlow', sans-serif;
  width: 100% !important;
  color: white !important;
  text-align: center !important;
}

li button {
  font-family: 'Barlow', sans-serif;
  font-weight: 200 !important;
  color: white !important;
  text-decoration: none !important;
}

li button span {
  padding: 0 !important;
  margin: 0 !important;
  margin-top: 6px !important;
}

.photo {
  position: relative !important;
  margin-top: 60px !important;
  left: 0;
  height: 100vh !important;
  width: 100vw !important;
}


h1.title {
  margin: 0 !important;
  line-height: 2;
  font-family: 'Barlow', sans-serif;
  font-weight: 200 !important;
  text-transform: uppercase !important;
  letter-spacing: 0.16em !important;
  backface-visibility: hidden !important;
}

h2.subtitle {
  border-bottom: .0625rem solid #e5e5e5;
  font-family: 'Barlow', sans-serif;
  font-weight: 300 !important;
  font-variant: small-caps;
  letter-spacing: .03rem;
  color: #010101;
}

.gallery, .about, .contact {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  color: #010101;
}

.details {
  padding: 0 !important;
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  background: none !important;
  font-family: 'Barlow', sans-serif;
}

.details p {
  font-family: 'Barlow', sans-serif;
  font-weight: 200;
  text-align: left !important;
  color: #585858 !important;
}

.details p.name {
  font-family: 'Barlow', sans-serif;
  font-weight: 300 !important;
  text-transform: uppercase;
}

.details p.size::before {
content: 'Size:  ';
}

.details p.size::after {
  content: ' cm';
}



.details p.more {
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}


.swiper {
  margin-left: -8px !important;
}


.contact img {
  margin-bottom: 1rem;
  width: 100%;
}

.contact h4 {
  padding: 0;
  margin-top: 1rem;
  font-family: 'Barlow', sans-serif;
  font-size: 1.5rem;
  line-height: 1;
  color: #454545;
}

.contact p {
  font-family: 'Barlow', sans-serif;
  color: #454545;
}


@media only screen and (-webkit-min-device-pixel-ratio: 2) {
.gallery h4.title {
  font-family: 'Barlow', sans-serif;
  font-weight: 200 !important;
  font-style: italic !important;
  line-height: 1;
  font-size: 0.8rem !important;
  -webkit-font-smoothing: antialiased !important;
  color: #010101;
}
}

@media screen and (prefers-reduced-motion: reduce) {
html {
  scroll-behavior: auto;
}
}